/config.mk
/examples/*/*
!/examples/*.*
!/examples/*/*.*
/examples/*/*.so
/examples/*/*.a

/lib/*/*
!/lib/*.*
!/lib/*/*.*
/lib/*/*.so
/lib/*/*.a

.build
/build
*.o
*.so
*.dylib
*.tm.c
*.tm.h
*.tm.o
*.testresult
tags
